.App-link {
  color: #61dafb;
}

/* make smaller to avoid getting cut off by mobile safari toolbar on my phone*/
.App {
  height: 85vh;
  min-height: 500px;
}

@media (min-width: 500px) {
  .App {
    height: 90vh;
  }
}

.details-col {
  height: 25%;
}
.sitemap-col {
  height: 75%;
}

@media (min-width: 992px) {
  .details-col {
    height: 100%;
  }
  .sitemap-col {
    height: 100%;
  }
}

.main-row {
  height: calc(100% - 42px); /* 42px=height of navbar. Guessing this is hacky */
}

.search-results {
  max-height: 300px;
  overflow: scroll;
}
button.win95-close {
  padding: 0px;
}

.card-header > h5 {
  /* want semantic meaning of header tag but not the big text*/
  font-size: small;
  font-weight: bold;
  margin-bottom: 0;
}

/* https://codepen.io/evank/pen/wWbRNO */
.scrollbox {
  background:
		/* Shadow covers */ linear-gradient(silver 30%, rgba(255, 255, 255, 0)),
    linear-gradient(rgba(255, 255, 255, 0), silver 70%) 0 100%,
    /* Shadows */ radial-gradient(farthest-side at 50% 0, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0)),
    radial-gradient(farthest-side at 50% 100%, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0)) 0 100%;
  background-repeat: no-repeat;
  background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;

  /* Opera doesn’t support this in the shorthand */
  background-attachment: local, local, scroll, scroll;
}
