.App-link {
  color: #61dafb;
}

.App {
  height: 90vh;
  min-height: 500px;
}

.details-col {
  height: 25%;
}
.sitemap-col {
  height: 75%;
}

@media (min-width: 992px){
  .details-col {
    height: 100%;
  }
  .sitemap-col {
    height: 100%;
  }
}

.search-results {
  max-height: 300px;
  overflow: scroll;
}
button.win95-close {
  padding: 0px;
}
.card-header{
  min-height: 24px;
}